alias jtest='rm -rf **/*.class; javac  *.java; java org.junit.runner.JUnitCore'

#GIT aliases
alias gst='git status'
alias gp='git pull --rebase'
alias gd='git diff'
alias gc='git commit -v'
alias gca='git commit -v -a'
alias gb='git branch'
alias gba='git branch -a'
alias gco='git checkout '
alias gx='gitx --all &'
alias gk='git log --graph --abbrev-commit --pretty=oneline --decorate'
alias gno='git show --name-only'
alias vv='vim `gst -s | grep "^.M" | sed "s/^...//"`'

#basic
alias ll='ls -lh'
alias screen='screen -U'

#misc
alias dotfiles='vim ~/.zshrc $CONFIG_DIR/.aliases $CONFIG_DIR/.exports && source ~/.zshrc'
alias icurl='curl -A "Mozilla/5.0 (iPhone; U; CPU iPhone OS 4_3_3 like Mac OS X; en-us) AppleWebKit/533.17.9 (KHTML, like Gecko) Version/5.0.2 Mobile/8J2 Safari/6533.18.5"'
alias gcurl='curl -A "Mozilla/5.0 (Linux; U; Android 2.3.6; en-us; Nexus S Build/GRK39F) AppleWebKit/533.1 (KHTML, like Gecko) Version/4.0 Mobile Safari/533.1"'
