[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/snippetsEmu"]
	path = vim/bundle/snippetsEmu
	url = https://github.com/vim-scripts/snippetsEmu.git
[submodule "vim/bundle/snippetsemu-bundles/after/ftplugin"]
	path = vim/bundle/snippetsemu-bundles/after/ftplugin
	url = git@github.com:benpjohnson/snippetsEmu-bundles.git
[submodule "vim/bundle/FuzzyFinder"]
	path = vim/bundle/FuzzyFinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "vim/bundle/L9"]
	path = vim/bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "vim/bundle/MRU"]
	path = vim/bundle/MRU
	url = https://github.com/vim-scripts/MRU.git
